<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405974344056-s0v8nq6p23mg1h7gj2hn05q3jg5dp91c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405974344056-s0v8nq6p23mg1h7gj2hn05q3jg5dp91c</string>
	<key>API_KEY</key>
	<string>AIzaSyD5MF54Gbx1MkJHcSrjFb1on3RUAkMPa-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>405974344056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.yanbo.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios13-72df8</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios13-72df8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405974344056:ios:b3330dab068a14b92c688d</string>
	<key>DATABASE_URL</key>
	<string>https://flashchatios13-72df8.firebaseio.com</string>
</dict>
</plist>